* text=auto eol=lf

.gitattributes linguist-language=Git-Attributes linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
*.py text eol=lf linguist-language=Python linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
*.md text eol=lf linguist-language=Markdown linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
*.toml text eol=lf linguist-language=TOML linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
*.yml text eol=lf linguist-language=YAML linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
*.yaml text eol=lf linguist-language=YAML linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
.github/**/*.yml text eol=lf linguist-language=YAML linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated
.github/**/*.yaml text eol=lf linguist-language=YAML linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
